<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="assets/materialize/css/materialize.min.css"  media="screen,projection"/>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" href="/assets/css/admin.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
  <div id="app">
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper teal">
          <a href="#!" class="brand-logo">Logo</a>
          <ul class="right hide-on-med-and-down">
            <li><a href="badges.html">Components</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="section section1 teal" style="height: 170px">
      <h2 class="center-align white-font">MokaPedia</h2>
    </div>
    <div class="row">

      <div class="col l7 right-align">
        <table class="highlight centered responsive-table">
          <thead>
            <tr>
              <th>Item</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(i, index) in filteredInventory" class="hoverable">
              <td>{{ i.name }}</td>
              <td>{{ i.price }}</td>
              <td>{{ i.stock }}</td>
              <td>
                <a v-on:click="showEdit = false, showAdd = false, name = i.name, price = i.price, stock = i.stock, editInventoryId = i._id, editInventoryIndex = index" class="btn-floating waves-effect waves-light yellow darken-1" style="margin-right: 8px"><i class="material-icons">edit</i></a>
                <a v-on:click="deleteInventory(i._id)" class="btn-floating waves-effect waves-light red" style="margin-left: 8px"><i class="material-icons">delete</i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="col l5">
        <div class="container">
          <div class="row">
            <nav>
              <div class="nav-wrapper teal">
                  <div class="input-field">
                    <input id="search" type="search" v-model="search">
                    <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    <i class="material-icons">close</i>
                  </div>
              </div>
            </nav>
          </div>
          <div class="row">
            <h5 v-show="showAdd" style="margin-bottom: 0px">Create New Item</h5>
            <h5 v-show="!showEdit" style="margin-bottom: 0px">Update Item</h5>
          </div>
          <div class="row">
            <div class="input-field col s12">
              <input v-model="name" id="name" type="text" placeholder="Input Item Name.." class="validate">
              <label for="name">Item Name</label>
            </div>
          </div>
          <div class="row">
            <div class="input-field col s6">
              <input v-model="price" id="price" type="number" placeholder="Input Item Price.." class="validate">
              <label for="price">Price</label>
            </div>
            <div class="input-field col s6">
              <input v-model="stock" id="stock" type="number" placeholder="Input Item Stock.." class="validate">
              <label for="stock">Stock</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12">
              <a v-on:click="showAdd = true, showEdit = true, name = '', price = '', stock = ''" v-show="!showAdd" class="btn-floating btn waves-effect waves-light teal">
                <i class="material-icons right">add</i>
              </a>
              <a v-on:click="addInventory" v-show="showAdd" class="waves-effect waves-light btn">Add to Inventory
                <i class="material-icons right">send</i>
              </a>
              <a v-on:click="updateInventory(editInventoryIndex, editInventoryId)" v-show="!showEdit" class="waves-effect waves-light btn">Update
                <i class="material-icons right">edit</i>
              </a>
            </div>
          </div>
        </div>
      </div>

  </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/assets/materialize/js/materialize.min.js"></script>
    <script src="/assets/js/admin.js" charset="utf-8"></script>
    <script type="text/javascript">
      $(document).ready(function(){
        // the "href" attribute of the modal trigger must specify the modal ID that wants to be triggered
        $('.modal').modal({});
      });
    </script>
  </body>
</html>
